.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ccc;
    padding: 10px;
    align-items: center;
}

.logo {
    width: 100px;
}

.search {
    width: 200px;
}

.search-input {
    width: 80%;
}

@media (max-width: 768px){

    .search {
        width: 100%;
    }

}